<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Character Cards</h1>

  <div class="alert alert-primary d-flex align-items-center gap-2" role="alert">
    <i class="bi bi-info-circle"></i>
    <div>
      There are <%=@characters.length%> character cards
    </div>
  </div>

  <div class="d-flex p-4">
    <%= link_to "+ Add new character", new_character_path, :class => 'btn btn-success ms-auto' %>
  </div>

  <div id="characters">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @characters.each do |character| %>
      <div class="col">
        <%= render character %>
      </div>
      <% end %>
    </div>
  </div>
</div>