/**
** Using SASS
************/

/*****
  Variables
*****/
$clr-primary: #1A535C;
// $font-display: "Merriweather", Georgia, serif;
$font-display: "Jersey 10 Charted", sans-serif;
$font-sans: "Work Sans", Roboto, sans-serif;

/*****
  Resets
*****/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: $font-display;
}

h4,
h5,
h6,
p {
    font-family: $font-sans;
}

a,
span {
    font-family: inherit;
}

a {

    &:link,
    &:visited {
        color: #0d6efd;
    }

    &.navbar-brand,
    &.nav-link {
        text-decoration: none;
    }

    &.btn {
        text-decoration: none;
        color: #fff;
    }
}

/*****
  Page headers
*****/
.page-header {
    height: 280px;
    background-size: 100%;
    background-color: #fff;
    object-fit: cover;
    object-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2em;
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        inset: 0;
        display: block;
        background-color: #00000099;
        position: absolute;
        z-index: -1;
    }

    &-bg-light {
        @extend .page-header;

        &::after {
            background-color: #f5f5f7;
        }
    }

    &-plus-pattern {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 17.5px 17.5px, linear-gradient(#f0f0f4 1.5px, transparent 1.5px) 0 -0.7px, linear-gradient(90deg, #f0f0f4 1.5px, #ffffff 1.5px) -0.7px 0;
        background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
    }

    &-radial-pattern {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff 20px), repeating-linear-gradient(#f5f5f755, #f0f0f4);
    }

    &-dot-pattern {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        background-image: radial-gradient(#e2e2e7 1px, #ffffff 1px);
        background-size: 18px 18px;
    }
}

/*****
  Cards
*****/
.card {
    &-image-cover {
        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
        }
    }
}

/*****
  Buttons
*****/
.btn {
    &-outline-primary {
        border-color: $clr-primary;
        color: $clr-primary;
    }

    &-reset,
    .btn-reset:not(:disabled):hover {
        background: transparent;
        border: none;
        text-shadow: none;
        font-weight: 400;
        box-shadow: none;
    }

}