/**
** Using SASS
************/

/*****
  Variables
*****/
$h1: clamp(2rem, 4vw, 2.75rem);
$h2: clamp(1.75rem, 3vw, 2rem);
$h3: clamp(1.375rem, 2vw, 1.625rem);
$h4: clamp(1.0625rem, 2vw, 1.25rem);
$fs-xlarge: 1.375rem;
$fs-large: 1.125rem;
$fs-regular: 1rem;
$fs-small: 0.875rem;
$fs-xsmall: 0.75rem;

$border-radius--small: 0.325em;
$border-radius--medium: 1em;
$border-radius--large: 1.5em;

$test-clr: hsl(182, 83%, 9%);

$grey-bg: #f6f6f7;
$grey-100: #f2f2f4;
$grey-200: #e2e2e7;
$grey-300: #ccc;
$grey-400: #666;
$grey-500: #555;

:root {
    --hue: 238;
    --sec-hue: 37;

    // bootstrap
    --bs-primary: $primary-clr
}

$primary-hue: var(--hue);
$primary-100: hsl($primary-hue, 80%, 98%);
$primary-200: hsl($primary-hue, 80%, 93%);
$primary-300: hsl($primary-hue, 80%, 85%);
$primary-400: hsl($primary-hue, 80%, 75%);
$primary-500: hsl($primary-hue, 80%, 64%);
$primary-clr: hsl($primary-hue, 80%, 30%);
$primary-900: hsl($primary-hue, 80%, 25%);

$sec-hue: var(--sec-hue);
$sec-clr: hsl($sec-hue, 98%, 53%);

$clr-info: rgb(2, 158, 242);
$clr-info-light: rgb(231, 247, 253);

$link-blue: #0066dd;
$text-clr: #45454f;

$black: #000;
$white: #fff;
$text-black: #000;
$text-white: #fff;

$font-display: "Platypi", serif;
$font-sans: "Work Sans", Roboto, sans-serif;
$font-stylish: "Jersey 10", sans-serif;

/*****
  Resets
*****/
html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: $font-sans !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/*****
  Typography
*****/
h1,
h2 {
    font-family: $font-display;
}

h3,
h4,
h5,
h6,
p {
    font-family: $font-sans;
}

:is(h1, h2, h3) span {
    color: $primary-clr;
}

a,
span,
button,
input {
    font-family: inherit;
}

a {
    &.nav-link {
        text-decoration: none;
    }
}

.list-style-none {
    list-style: none;
    padding: 0;
    margin: 0;
}

.font-stylish {
    font-family: $font-stylish;
}

.btn-xs {
    --bs-btn-padding-y: 0.125rem;
    --bs-btn-padding-x: 0.375rem;
    --bs-btn-font-size: 0.75rem;
}

.text-small {
    font-size: 14px;
}

/*****
  Page headers
*****/
.page-header {
    height: 280px;
    background-size: 100%;
    background-color: #fff;
    object-fit: cover;
    object-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2em;
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        inset: 0;
        display: block;
        background-color: #00000099;
        position: absolute;
        z-index: -1;
    }

    &-bg-light {
        @extend .page-header;

        &::after {
            background-color: #f5f5f7;
        }
    }

    &-plus-pattern {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 17.5px 17.5px, linear-gradient(#f0f0f4 1.5px, transparent 1.5px) 0 -0.7px, linear-gradient(90deg, #f0f0f4 1.5px, #ffffff 1.5px) -0.7px 0;
        background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
    }

    &-radial-pattern {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff 20px), repeating-linear-gradient(#f5f5f755, #f0f0f4);
    }

    &-dot-pattern {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        background-image: radial-gradient(#e2e2e7 1px, #ffffff 1px);
        background-size: 18px 18px;
    }
}

/*****
  Cards
*****/
.card {
    &-image-cover {
        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
        }
    }
}

/*****
  Buttons
*****/
.btn {
    display: inline-flex;
    align-items: center;
    gap: 0.375em;

    &-reset,
    .btn-reset:not(:disabled):hover {
        background: transparent;
        border: none;
        text-shadow: none;
        font-weight: 400;
        box-shadow: none;
    }

    &-stretch {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 4px;
        margin-right: 0;
    }

}

/*****
  Navigation
*****/
.topbar {
    padding: 2px 1rem;

    a {
        font-size: 14px;

        &:hover {
            text-decoration-color: $link-blue;
        }
    }
}

.navbar {
    &-logo {
        font-weight: 500;
        color: $black;
        text-decoration: none;
        text-transform: uppercase;

        span {
            color: $primary-500;
        }
    }

    .nav-item a {
        color: $black;
        text-decoration: underline solid transparent 1px;

        &:hover {
            text-decoration-color: $link-blue;
        }
    }
}


/*****
  Home styles
*****/
.home-form-wrapper {
    max-width: 680px;
}


/*****
  Character show page styles
*****/
.product-card {
    max-width: 400px;
    place-items: center;
    z-index: 2;
    aspect-ratio: 50/75;
    isolation: isolate;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;

    &:hover {
        &>.product-card-front {
            transform: rotateY(180deg);
        }

        &>.product-card-back {
            transform: rotateY(0deg);
            opacity: 1;
        }
    }
}

.product-card-front,
.product-card-back {
    aspect-ratio: inherit;
    transition: inherit;
    width: 100%;
    border-radius: 0.75rem;
    inset: 0;
    position: absolute;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}

.product-card-front {
    z-index: 2;

    &>img {
        width: 100%;
    }
}

.product-card-back {
    background-color: #000000cc;
    backface-visibility: hidden;
    padding: 1.5rem;
    z-index: 2;
    transform: rotateY(-180deg);
    backdrop-filter: blur(4px);
    color: white;

    &>h2 {
        margin: 0;
        font-family: $font-stylish;
    }

    &>em {
        display: block;
        color: $grey-300;
    }

    &>p {
        margin-bottom: 0.125em;
    }
}

/*****
  Pagination styles
*****/
.pagination {
    align-items: center;
    gap: 8px;

    .page {
        border: 1px solid lightblue;
        line-height: 2;

        a,
        &.current {
            display: block;
            height: 30px;
            width: 30px;
            text-decoration: none;
            padding-left: 10px;
        }

        a:hover {
            background-color: $primary-500;
            color: #fff;
        }

        &.current {
            background-color: $primary-clr;
            color: #fff;
            border-radius: 50%;
        }

        &.gap {
            display: block;
            border: none;
            align-self: baseline;
        }
    }
}


/*****
  Cart
*****/
.cart {
    &-item-image {

        img {
            object-position: center;
        }
    }
}