<footer class="bg-dark px-4 py-2 mt-auto">
    <div class="d-flex align-items-center">
        <p class="text-white mb-0">Copyright &copy; <%= Time.current.year %> Built by Oba Adelusi</p>
        <a href="https://github.com/obaadelusi/SuperCardClub_Store" class="btn btn-secondary text-white ms-auto">GitHub
            repo</a>
    </div>
</footer>