<div class="w-100 text-bg-light d-flex topbar">
    <ul class="d-flex align-items-center gap-2 ms-auto list-style-none">
        <% if customer_signed_in? %>
        <li>
            <i class="bi bi-person-circle"></i>
            <%= current_customer.email.split("@").first %>
        </li>
        <li>
            <%= form_with(url: "/customers/sign_out", method: "delete") do %>
            <%= submit_tag "Sign out", :class=>'btn btn-sm btn-link text-danger' %>
            <% end %>
        </li>
        <% else %>
        <li><a href="/customers/sign_in" class="text-dark">Sign In</a></li>
        <li> / <a href="/customers/sign_up" class="text-dark">Sign Up</a></li>
        <% end %>
    </ul>
</div>